/* Figma Styles of your File */:root {
  /* Colors */
  --superkalamcom-azure-radiance: #00b2ff;
  --superkalamcom-black: #000000;
  --superkalamcom-black-10: rgba(0, 0, 0, 0.10);
  --superkalamcom-black-15: rgba(0, 0, 0, 0.15);
  --superkalamcom-cola: #402300;
  --superkalamcom-crusta: #f6812d;
  --superkalamcom-dodger-blue: #2d80f6;
  --superkalamcom-dodger-blue: #00b2ff;
  --superkalamcom-dodger-blue-6: rgba(45, 128, 246, 0.06);
  --superkalamcom-double-pearl-lusta: #fcf5c3;
  --superkalamcom-ebb: #d6e7ff;
  --superkalamcom-fun-blue: #194498;
  --superkalamcom-gallery: #fff0d9;
  --superkalamcom-gallery: #f0f0f0;
  --superkalamcom-heather: #c1cbd8;
  --superkalamcom-karry: #fff0d9;
  --superkalamcom-malibu: #8abaff;
  --superkalamcom-marigold-yellow: #fcea76;
  --superkalamcom-melrose: #9290ff;
  --superkalamcom-mercury: #e6e6e6;
  --superkalamcom-mercury: #e8e8e8;
  --superkalamcom-mine-shaft: #333333;
  --superkalamcom-nevada: #686f75;
  --superkalamcom-orange: #fb7124;
  --superkalamcom-orange-40: rgba(251, 113, 36, 0.40);
  --superkalamcom-pattens-blue: #d6e7ff;
  --superkalamcom-pink-lady: #fff0d9;
  --superkalamcom-river-bed: #4b5563;
  --superkalamcom-rolling-stone: #707377;
  --superkalamcom-serenade: #e4efff;
  --superkalamcom-shark: #191c1f;
  --superkalamcom-ship-gray: #3f3f40;
  --superkalamcom-silver-sand: #c2c7cb;
  --superkalamcom-soapstone: #fff9f6;
  --superkalamcom-solitude: #e4efff;
  --superkalamcom-solitude: #e4efff;
  --superkalamcom-torch-red: #ff3d00;
  --superkalamcom-tundora: #4a4a4a;
  --superkalamcom-white: #ffffff;
  --superkalamcom-white: transparent;
  --superkalamcom-white-02: rgba(255, 255, 255, 0.00);
  --superkalamcom-white-25: rgba(255, 255, 255, 0.25);
  --superkalamcom-white-35: rgba(255, 255, 255, 0.35);
  --superkalamcom-white-50: rgba(255, 255, 255, 0.50);
  --superkalamcom-white-lilac: #f1f7ff;
  --superkalamcom-white-white: linear-gradient(to left, #ffffff, #ffffff), linear-gradient(to left, #ffffff, #ffffff);
  --superkalamcom-woodsmoke: #111314;
  --superkalamcom-zircon: #f1f7ff;
  --superkalamcom-zircon: #f1f7ff;

  /* Fonts */
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 7px;
  --superkalamcom-inter-bold-line-height: 20px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 13.125px;
  --superkalamcom-inter-bold-line-height: 21px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 13.234375px;
  --superkalamcom-inter-bold-line-height: 20px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 13.34375px;
  --superkalamcom-inter-bold-line-height: 21px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 13.78125px;
  --superkalamcom-inter-bold-line-height: 21px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 14.010937690734863px;
  --superkalamcom-inter-bold-line-height: 21px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 15px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 15.125px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 15.375px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 15.487499237060547px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 15.5px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 15.618749618530273px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 15.749999046325684px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 15.88124942779541px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 16.01249885559082px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 16.143749237060547px;
  --superkalamcom-inter-bold-line-height: 24px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 18.59375px;
  --superkalamcom-inter-bold-line-height: 30px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 18.90625px;
  --superkalamcom-inter-bold-line-height: 30px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 19.0625px;
  --superkalamcom-inter-bold-line-height: 30px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 19.375px;
  --superkalamcom-inter-bold-line-height: 30px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 26.796875px;
  --superkalamcom-inter-bold-line-height: 42px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 27.015625px;
  --superkalamcom-inter-bold-line-height: 42px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 37.03125px;
  --superkalamcom-inter-bold-line-height: 60px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 37.8125px;
  --superkalamcom-inter-bold-line-height: 60px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 12px;
  --superkalamcom-inter-regular-line-height: 16px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 13.125px;
  --superkalamcom-inter-regular-line-height: 21px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 13.34375px;
  --superkalamcom-inter-regular-line-height: 21px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 13.78125px;
  --superkalamcom-inter-regular-line-height: 21px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 14.010937690734863px;
  --superkalamcom-inter-regular-line-height: 21px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15px;
  --superkalamcom-inter-regular-line-height: 36px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-bold-font-family: Inter-Bold, sans-serif;
  --superkalamcom-inter-bold-font-size: 19.21875px;
  --superkalamcom-inter-bold-line-height: 30px;
  --superkalamcom-inter-bold-font-weight: 700;
  --superkalamcom-inter-bold-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15.125px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15.375px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15.5px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15.25px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15.618749618530273px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15.749999046325684px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 15.88124942779541px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 16.01249885559082px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 16.143749237060547px;
  --superkalamcom-inter-regular-line-height: 24px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 17.015625px;
  --superkalamcom-inter-regular-line-height: 28px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 18.59375px;
  --superkalamcom-inter-regular-line-height: 30px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 18.90625px;
  --superkalamcom-inter-regular-line-height: 30px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 19.0625px;
  --superkalamcom-inter-regular-line-height: 30px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-regular-font-family: Inter-Regular, sans-serif;
  --superkalamcom-inter-regular-font-size: 22.5px;
  --superkalamcom-inter-regular-line-height: 36px;
  --superkalamcom-inter-regular-font-weight: 400;
  --superkalamcom-inter-regular-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 12.90625px;
  --superkalamcom-inter-semi-bold-line-height: 21px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 13.875px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 14.0625px;
  --superkalamcom-inter-semi-bold-line-height: 18px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 14.1796875px;
  --superkalamcom-inter-semi-bold-line-height: 18px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 14.296875px;
  --superkalamcom-inter-semi-bold-line-height: 18px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 14.56874942779541px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 14.875px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 15px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 15.125px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 15.25px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 15.749999046325684px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 15.88124942779541px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 16.01249885559082px;
  --superkalamcom-inter-semi-bold-line-height: 24px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 19.0625px;
  --superkalamcom-inter-semi-bold-line-height: 30px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 26.796875px;
  --superkalamcom-inter-semi-bold-line-height: 42px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 37.03125px;
  --superkalamcom-inter-semi-bold-line-height: 60px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-inter-semi-bold-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-inter-semi-bold-font-size: 37.8125px;
  --superkalamcom-inter-semi-bold-line-height: 60px;
  --superkalamcom-inter-semi-bold-font-weight: 600;
  --superkalamcom-inter-semi-bold-font-style: normal;
  --superkalamcom-lato-semibold-font-family: Lato-SemiBold, sans-serif;
  --superkalamcom-lato-semibold-font-size: 16px;
  --superkalamcom-lato-semibold-line-height: 24px;
  --superkalamcom-lato-semibold-font-weight: 600;
  --superkalamcom-lato-semibold-font-style: normal;
  --superkalamcom-lato-semibold-underline-font-family: Lato-SemiBold, sans-serif;
  --superkalamcom-lato-semibold-underline-font-size: 16px;
  --superkalamcom-lato-semibold-underline-line-height: 24px;
  --superkalamcom-lato-semibold-underline-font-weight: 600;
  --superkalamcom-lato-semibold-underline-font-style: normal;
  --superkalamcom-lato-black-font-family: Lato-Black, sans-serif;
  --superkalamcom-lato-black-font-size: 48px;
  --superkalamcom-lato-black-line-height: 57.6px;
  --superkalamcom-lato-black-font-weight: 900;
  --superkalamcom-lato-black-font-style: normal;
  --superkalamcom-lato-bold-font-family: Lato-Bold, sans-serif;
  --superkalamcom-lato-bold-font-size: 18px;
  --superkalamcom-lato-bold-line-height: 28px;
  --superkalamcom-lato-bold-font-weight: 700;
  --superkalamcom-lato-bold-font-style: normal;
  --superkalamcom-lato-regular-font-family: Lato-Regular, sans-serif;
  --superkalamcom-lato-regular-font-size: 16px;
  --superkalamcom-lato-regular-line-height: 24px;
  --superkalamcom-lato-regular-font-weight: 400;
  --superkalamcom-lato-regular-font-style: normal;
  --superkalamcom-semantic-button-font-family: Inter-Bold, sans-serif;
  --superkalamcom-semantic-button-font-size: 16.734375px;
  --superkalamcom-semantic-button-line-height: 28px;
  --superkalamcom-semantic-button-font-weight: 700;
  --superkalamcom-semantic-button-font-style: normal;
  --superkalamcom-semantic-button-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-button-font-size: 16.875px;
  --superkalamcom-semantic-button-line-height: 28px;
  --superkalamcom-semantic-button-font-weight: 600;
  --superkalamcom-semantic-button-font-style: normal;
  --superkalamcom-semantic-button-font-family: Roboto-Medium, sans-serif;
  --superkalamcom-semantic-button-font-size: 14px;
  --superkalamcom-semantic-button-line-height: 18.2px;
  --superkalamcom-semantic-button-font-weight: 500;
  --superkalamcom-semantic-button-font-style: normal;
  --superkalamcom-semantic-heading-1-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-heading-1-font-size: 45.5625px;
  --superkalamcom-semantic-heading-1-line-height: 62.4px;
  --superkalamcom-semantic-heading-1-font-weight: 600;
  --superkalamcom-semantic-heading-1-font-style: normal;
  --superkalamcom-semantic-heading-1-font-family: Inter-Bold, sans-serif;
  --superkalamcom-semantic-heading-1-font-size: 83.1875px;
  --superkalamcom-semantic-heading-1-line-height: 105.6px;
  --superkalamcom-semantic-heading-1-font-weight: 700;
  --superkalamcom-semantic-heading-1-font-style: normal;
  --superkalamcom-semantic-heading-1-font-family: Lato-Bold, sans-serif;
  --superkalamcom-semantic-heading-1-font-size: 40px;
  --superkalamcom-semantic-heading-1-line-height: 48px;
  --superkalamcom-semantic-heading-1-font-weight: 700;
  --superkalamcom-semantic-heading-1-font-style: normal;
  --superkalamcom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --superkalamcom-semantic-heading-2-font-size: 22.5px;
  --superkalamcom-semantic-heading-2-line-height: 36px;
  --superkalamcom-semantic-heading-2-font-weight: 700;
  --superkalamcom-semantic-heading-2-font-style: normal;
  --superkalamcom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --superkalamcom-semantic-heading-2-font-size: 22.6875px;
  --superkalamcom-semantic-heading-2-line-height: 36px;
  --superkalamcom-semantic-heading-2-font-weight: 700;
  --superkalamcom-semantic-heading-2-font-style: normal;
  --superkalamcom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --superkalamcom-semantic-heading-2-font-size: 22.875px;
  --superkalamcom-semantic-heading-2-line-height: 36px;
  --superkalamcom-semantic-heading-2-font-weight: 700;
  --superkalamcom-semantic-heading-2-font-style: normal;
  --superkalamcom-semantic-heading-2-font-family: Inter-Bold, sans-serif;
  --superkalamcom-semantic-heading-2-font-size: 38.671875px;
  --superkalamcom-semantic-heading-2-line-height: 66px;
  --superkalamcom-semantic-heading-2-font-weight: 700;
  --superkalamcom-semantic-heading-2-font-style: normal;
  --superkalamcom-semantic-heading-2-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-heading-2-font-size: 41.25px;
  --superkalamcom-semantic-heading-2-line-height: 66px;
  --superkalamcom-semantic-heading-2-font-weight: 600;
  --superkalamcom-semantic-heading-2-font-style: normal;
  --superkalamcom-semantic-heading-2-font-family: Lato-Bold, sans-serif;
  --superkalamcom-semantic-heading-2-font-size: 48px;
  --superkalamcom-semantic-heading-2-line-height: 57.6px;
  --superkalamcom-semantic-heading-2-font-weight: 700;
  --superkalamcom-semantic-heading-2-font-style: normal;
  --superkalamcom-semantic-heading-2-font-family: Lato-Black, sans-serif;
  --superkalamcom-semantic-heading-2-font-size: 48px;
  --superkalamcom-semantic-heading-2-line-height: 57.6px;
  --superkalamcom-semantic-heading-2-font-weight: 900;
  --superkalamcom-semantic-heading-2-font-style: normal;
  --superkalamcom-semantic-heading-3-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-heading-3-font-size: 30.125px;
  --superkalamcom-semantic-heading-3-line-height: 48px;
  --superkalamcom-semantic-heading-3-font-weight: 600;
  --superkalamcom-semantic-heading-3-font-style: normal;
  --superkalamcom-semantic-heading-3-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-heading-3-font-size: 34.59375px;
  --superkalamcom-semantic-heading-3-line-height: 54px;
  --superkalamcom-semantic-heading-3-font-weight: 600;
  --superkalamcom-semantic-heading-3-font-style: normal;
  --superkalamcom-semantic-heading-3-font-family: Inter-Bold, sans-serif;
  --superkalamcom-semantic-heading-3-font-size: 34.59375px;
  --superkalamcom-semantic-heading-3-line-height: 54px;
  --superkalamcom-semantic-heading-3-font-weight: 700;
  --superkalamcom-semantic-heading-3-font-style: normal;
  --superkalamcom-semantic-link-font-family: Inter-Regular, sans-serif;
  --superkalamcom-semantic-link-font-size: 13.234375px;
  --superkalamcom-semantic-link-line-height: 20px;
  --superkalamcom-semantic-link-font-weight: 400;
  --superkalamcom-semantic-link-font-style: normal;
  --superkalamcom-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-link-font-size: 15.125px;
  --superkalamcom-semantic-link-line-height: 24px;
  --superkalamcom-semantic-link-font-weight: 600;
  --superkalamcom-semantic-link-font-style: normal;
  --superkalamcom-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-link-font-size: 15.25px;
  --superkalamcom-semantic-link-line-height: 24px;
  --superkalamcom-semantic-link-font-weight: 600;
  --superkalamcom-semantic-link-font-style: normal;
  --superkalamcom-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-link-font-size: 18.125px;
  --superkalamcom-semantic-link-line-height: 28px;
  --superkalamcom-semantic-link-font-weight: 600;
  --superkalamcom-semantic-link-font-style: normal;
  --superkalamcom-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-link-font-size: 19.375px;
  --superkalamcom-semantic-link-line-height: 28px;
  --superkalamcom-semantic-link-font-weight: 600;
  --superkalamcom-semantic-link-font-style: normal;
  --superkalamcom-semantic-link-font-family: Inter-SemiBold, sans-serif;
  --superkalamcom-semantic-link-font-size: 19.6875px;
  --superkalamcom-semantic-link-line-height: 28px;
  --superkalamcom-semantic-link-font-weight: 600;
  --superkalamcom-semantic-link-font-style: normal;
  --superkalamcom-semantic-link-font-family: Lato-SemiBold, sans-serif;
  --superkalamcom-semantic-link-font-size: 24px;
  --superkalamcom-semantic-link-line-height: 32px;
  --superkalamcom-semantic-link-font-weight: 600;
  --superkalamcom-semantic-link-font-style: normal;
  --superkalamcom-semantic-link-font-family: Roboto-Regular, sans-serif;
  --superkalamcom-semantic-link-font-size: 18px;
  --superkalamcom-semantic-link-line-height: 23.4px;
  --superkalamcom-semantic-link-font-weight: 400;
  --superkalamcom-semantic-link-font-style: normal;

  /* Effects */

}

